{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sensors</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Sensors</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Sensor</th>
            <th>Description</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for sensor in dataSensor %}
            <tr>
              <td>{{ sensor.name }}</td>
              <td>{{sensor.description}}</td>
              <td class="align-middle">{{sensor.value}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
